#root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;

  min-height: 100vh;

  --main-color: #9359de;
  --font-color: white;
}

header {
  position: relative;
  box-sizing: border-box;
  background-color: var(--main-color);
  color: var(--font-color);
  text-transform: capitalize;
  width: 100%;
  height: 50px;
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
}

h1 {
  margin: 0;
}

nav {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
}

nav a {
  margin-left: 10px;
  color: black;
}

main {
  flex: 1;
}

footer {
  height: 35px;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--main-color);
  color: var(--font-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 430px) {
  footer {
    font-size: 0.55em;
  }

  .logo {
    left: 0;
    right: 0;
    transform: translateY(-50%);
    text-align: center;
  }

  nav {
    right: 10px;
    transform: translateY(-50%);
  }

  nav a {
    margin-left: 5px;
  }
}
