.container {
  display: grid;
  grid-template-columns: repeat(2, 350px);
  grid-auto-rows: 30px;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.box {
  width: 100%;
  height: 100%;

  border: 1px solid black;
  background-color: grey;

  display: flex;
  justify-content: center;
  align-items: center;
}

.box.red {
  background-color: rgb(240, 167, 167);
}

.box.yellow {
  background-color: rgb(237, 237, 158);
}

.box.blue {
  background-color: rgb(158, 158, 239);
}

.box.green {
  background-color: rgb(169, 237, 169);
}
