.guess-container {
  display: grid;
  grid-template-columns: repeat(2, 350px);
  grid-auto-rows: 30px;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.guess {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  background-color: rgba(217, 217, 217, 0.25);
  display: flex;
  align-items: center;
  overflow: hidden; 
  white-space: nowrap; 
  text-overflow: ellipsis; 
  font-size: 1.4vw; 
}

.guess p {
  margin: 2px;
  word-wrap: break-word; 
  word-break: break-all; 
}


.guess.red {
  background-color: rgb(240, 167, 167);
}

.guess.yellow {
  background-color: rgb(237, 237, 158);
}

.guess.blue {
  background-color: rgb(158, 158, 239);
}

.guess.green {
  background-color: rgb(169, 237, 169);
}
