#root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;

  min-height: 100vh;

  --main-color: #9359de;
  --font-color: white;
}

header {
  position: relative;
  box-sizing: border-box;
  background-color: var(--main-color);
  color: var(--font-color);
  text-transform: capitalize;
  width: 100%;
  height: 50px;
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
}

h1 {
  margin: 0; /* Remove default margin */
}

nav {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
}

nav a {
  margin-left: 10px; /* Adjust as needed */
  color: black; /* Change color as needed */
}


main {
  flex: 1;
}

footer {
  height: 35px;
}

